<html>

  <head>
    <title>
      Dashboard page
    </title>
    <meta charset='utf-8' />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/fav/apple-touch-icon.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/fav/favicon-32x32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/fav/favicon-16x16.png'
    />
    <link rel='manifest' href='/fav/site.webmanifest' />
    <link
      rel='mask-icon'
      href='/fav/safari-pinned-tab.svg'
      color='#5bbad5'
    />
    <meta
      name='msapplication-TileColor'
      content='#da532c'
    />
    <meta name='theme-color' content='#ffffff' />

    <link href='css/normalize.css' rel='stylesheet' />

    <link href='css/dashboard.css' rel='stylesheet' />

    <meta
      name='viewport'
      content='viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'
    />

  </head>

  <body>
    <div class='page page--dashboard'>
      <aside class='page__aside aside vertical'>
        <div class='text aside__logo'>
          Sidebar
        </div>
        <nav class='vertical vertical small'>
          <a
            href='#'
            class='nav-button nav-button--active click'
          >
            <span
              class='icon nav-button__icon'
              style='background-image: url(/svg/nav/home.svg);'
            ></span>
            <span class='text text--light'>Home</span>
          </a>
          <a href='#' class='nav-button click'>
            <span
              class='icon nav-button__icon'
              style='background-image: url(/svg/nav/orders.svg);'
            ></span>
            <span class='text text--light'>Orders</span>
          </a>
          <a href='#' class='nav-button click'>
            <span
              class='icon nav-button__icon'
              style='background-image: url(/svg/nav/products.svg);'
            ></span>
            <span class='text text--light'>Products</span>
          </a>
        </nav>
      </aside>
      <header class='header'>
        <div class='layout header__content text--small'>
          <div class='header__search relative'>
            <input
              type='text'
              placeholder='Search'
              class='text field field--header'
            />
            <span
              class='icon header__icon-search'
              style='background-image: url(/svg/header/search.svg);'
            ></span>
            <span
              class='icon icon--header-settings click'
              style='background-image: url(/svg/header/settings.svg);'
            ></span>
          </div>
          <div class='header__nav relative'>
            <span
              class='icon icon--header-nav click'
              style='background-image: url(/svg/header/antena.svg);'
            ></span>
            <span
              class='icon icon--header-nav click'
              style='background-image: url(/svg/header/translate.svg);'
            ></span>
            <span
              class='icon icon--header-nav click'
              style='background-image: url(/svg/header/bell.svg);'
            ></span>

          </div>
        </div>
      </header>
      <main class='main'>
        <div class='layout'>
          <section class='box analytic__block'>
            <div
              class='analytic analytic--double analytic--purple vertical'
            >
              <span
                class='icon analytic__button icon--button click'
                style='background-image: url(/svg/analityc/money.svg);'
              ></span>
              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--light'
                >$500.00</div>
                <div
                  class='text text--small text--light'
                >Total earning</div>
                <span
                  class='icon analytic__arrow'
                  style='background-image: url(/svg/analityc/purplearrow.svg);'
                ></span>
              </div>
            </div>

            <div
              class='analytic analytic--double analytic--blue vertical'
            >
              <span
                class='icon analytic__button icon--button click'
                style='background-image: url(/svg/analityc/bag.svg);'
              ></span>
              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--light'
                >$961</div>
                <div
                  class='text text--small text--light'
                >Total Order</div>
              </div>
            </div>

            <div
              class='analytic analytic--single analytic--blue'
            >
              <span
                class='icon analytic__button icon--button click'
                style='background-image: url(/svg/analityc/income.svg);'
              ></span>
              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--medium text--light'
                >$203k</div>
                <div
                  class='text text--small text--light'
                >Total Income</div>
              </div>
            </div>

            <div class='analytic analytic--single'>
              <span
                class='icon analytic__button icon--button click'
                style='background-image: url(/svg/analityc/shop.svg);'
              ></span>
              <div
                class='relative vertical vertical--small'
              >
                <div
                  class='analytic__title text text--medium'
                >$203k</div>
                <div class='text text--small text--'>Total
                  Income</div>
              </div>
            </div>

          </section>

          <div class='purchase__block'>
            <div class='purchase__list box'>
              <div class='text--heading'>Purchase list</div>
              <hr class='divider' />
              <div class='purchase__data'>
                <div>
                  <p>ID437661</p>
                  <p>May 11, 2023, 14:21</p>
                </div>
                <div>
                  <p>AirOn ProCam</p>
                  <p>7/8 USB Type-C</p>
                </div>
                <div>
                  <p>132.32 EUR</p>
                  <p class='text--warning'>Not paid</p>
                </div>
                <div>
                  <p>Customer</p>
                  <p>robin@com.de</p>
                </div>

                <div>
                  <p>ID437661</p>
                  <p>May 11, 2023, 14:21</p>
                </div>
                <div>
                  <p>PHILIPS Essential</p>
                  <p>HD9200/90</p>
                </div>
                <div>
                  <p>543 USD</p>
                  <p class='text--success'>Pay by Stripe</p>
                </div>
                <div>
                  <p>Customer</p>
                  <p>dima@com.ua</p>
                </div>

              </div>
              <hr class='divider' />
            </div>

            <div class='box payment__list'>
              <div class='text--heading'>Payment</div>
              <hr class='divider' />
              <form class='form'>
                <input
                  id='credit'
                  type='radio'
                  name='cards'
                />
                <label for='credit'>Credit card</label>
                <br />
                <input
                  id='debit'
                  type='radio'
                  name='cards'
                />
                <label for='debit'>Debit card</label>
                <br />
                <input
                  id='paypal'
                  type='radio'
                  name='cards'
                />
                <label for='paypal'>PayPal</label>
              </form>

              <div class='payment__data'>
                <div>
                  <label
                    for='name'
                    class='text--default'
                  >Name on card</label>
                  <input
                    type='text'
                    class='field field--data'
                  />
                </div>
                <div>
                  <label
                    for='number'
                    class='text--default'
                  >Credit card number</label>
                  <input
                    type='text'
                    class='field field--data'
                  />
                </div>
                <div>
                  <label
                    for='expiration'
                    class='text--default'
                  >Expiration</label>
                  <input
                    type='text'
                    class='field field--data'
                  />
                </div>
                <div>
                  <label
                    for='cvv'
                    class='text--default'
                  >CVV</label>
                  <input
                    type='text'
                    class='field field--data'
                  />
                </div>

              </div>
              <hr class='divider' />

              <div class='address__data'>

                <div class='relative'>
                  <label for='country'>Country</label>
                  <div class='field field--select relative'>

                    <span class='text'>Choose...</span>
                  </div>
                  <select class='field__select field--data'>
                    <option value='Ukraine'>Ukraine</option>
                    <option value='Spain'>Spain</option>
                    <option value='USA'>USA</option>
                  </select>
                </div>
                 <div class='relative'>
                  <label for='State'>State</label>
                  <div class='field field--select relative'>

                    <span class='text'>Choose...</span>
                  </div>
                  <select class='field__select field--data'>
                    <option value='Kyiv'>Kyiv</option>
                    <option value='Madrid'>Madrid</option>
                    <option value='Washington'>Washington</option>
                  </select>
                </div>

              </div>

              <hr class='divider' />

              <div class="checkout__button">Continue to checkout</div>
            </div>
          </div>
        
      </main>

    </div>

  </body>

</html>