<main class='p-5'>
  <div class='card p-5'>
    <p id='test'><b>hello world</b></p>
    <span>This is test</span>
  </div>
  <pre> text text text</pre>
  <div>block</div>
  <div>block</div>
  <div>block</div>
  <div>block</div>

  <div style='margin: 30px;'>
    <span>inline</span>
    <span>inline</span>
    <span>inline</span>
    <span>inline</span>
    <span>inline</span>
    <span class='block'>inline first</span>
  </div>

  <div>block</div>

</main>